<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/estilosAdmin.css}">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fogatta - Editar Pedido</title>
</head>

<body>
    <nav class="nav">
        <div class="nav_cont" id="nav2">
            <div class="nav_cont_l">
                <a th:href="@{/}" class="nav_logo"></a>
            </div>
            <div class="nav_cont_m">
                <a class="nav_btn_user" th:href="@{/admin/home}">Productos</a>
                <a class="nav_btn_user" th:href="@{/admin/reservas}">Reservas</a>
                <a class="nav_btn_user" th:href="@{/admin/pedidos}">Pedidos</a>
            </div>
            <div class="nav_cont_r">
                <a class="nav_btn_login" th:href="@{/admin/resenias}">Reseñas</a>
                <form class="form_logout" th:action="@{/admin/logout}" method="post">
                    <input class="nav_btn_login botonForm" type="submit" value="Cerrar Sesión">
                </form>
            </div>
            <div class="menu"></div>
        </div>
    </nav>
    <div class="desp">
        <a class="nav_btn_user2 uno" th:href="@{/admin/home}">Productos</a>
        <a class="nav_btn_user2 dos" th:href="@{/admin/reservas}">Reservas</a>
        <a class="nav_btn_user2 tres" th:href="@{/admin/pedidos}">Pedidos</a>
        <a class="nav_btn_user2 cuatro" th:href="@{/admin/resenias}">Reseñas</a>
        <form class="form_logout" th:action="@{/admin/logout}" method="post">
            <input class="nav_btn_user2 cinco" type="submit" value="Cerrar Sesión">
        </form>
    </div>
    <main class="main">
        <div class="main_cont">
            <h1 class="tituloTable">Realizar Pedido</h1>
            <form class="form form3" th:action="@{/admin/pedidos/agregar}" th:object="${pedido}" method="post">
                <div  class="form_info">
                    <label>Id:</label>
                    <input id="id" type="text" placeholder="id" th:field="*{id}" readonly="true">

                    <label>Nombre:</label>
                    <input id="nombre" type="text" th:field="*{usuario.nombre}" readonly="true" required>

                    <label for="">Comida</label>
                    <select th:field="*{productos}" id="comida" name="" required>
                        <option th:id="${0}" text="" th:value="${-50}">Ninguno</option>
                        <th:block th:each="comida : ${listaComida}">
                            <option th:id="${comida.precio}" th:text="${comida.nombre}" th:value="${comida.id}">
                            </option>
                        </th:block>

                    </select>
                    <label for="">Bebida</label>
                    <select th:field="*{productos}" id="bebida" name="" required>
                        <option th:id="${0}" text="" th:value="${-50}">Ninguno</option>
                        <th:block th:each="bebida : ${listaBebida}">
                            <option th:id="${bebida.precio}" th:text="${bebida.nombre}" th:value="${bebida.id}">
                            </option>
                        </th:block>
                    </select>
                    <label id="labelDireccion" for="inputDireccion">Dirección</label>
                    <input id="inputDireccion" th:field="*{direccion}" type="text" name="direccion"
                        placeholder="Dirección" required>
                    <label>Estado:</label>
                    <select id="estado" th:field="*{estado}" required>
                        <option value="En proceso">En proceso</option>
                        <option value="Enviado">Enviado</option>
                        <option value="Entregado">Entregado</option>
                    </select>
                </div>
                <div class="contador">
                    <button id="menos" type="button">-</button>
                    <input type="number" th:field="*{cantidad}" id="numeroProducto" readonly>
                    <button id="mas" type="button">+</button>
                </div>
                <div id="precioTotal">
                    <p>Precio Total:</p>
                    <input type="text" th:field="*{precioTotal}" id="precio2" readonly>
                </div>
                <div class="btns btns2">
                <input id="buttonEditar" class="btnPedido btnPedidoAñadir" type="submit" value="Guardar Cambios">
                <a class="btnPedidoCancelar" th:href="@{/admin/pedidos}">Cancelar</a>
                </div>
            </form>
        </div>
    </main>
    <script th:src="@{/js/contadorPedidos.js}"></script>
    <script th:src="@{/js/app2.js}"></script>
</body>

</html>