<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilosAdmin.css}">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Fogatta - Productos</title>
    </head>

    <body>
        <nav class="nav">
            <div class="nav_cont" id="nav2">
                <div class="nav_cont_l">
                    <a th:href="@{/}" class="nav_logo"></a>
                </div>
                <div class="nav_cont_m">
                    <a class="nav_btn_user" th:href="@{/admin/home}">Productos</a>
                    <a class="nav_btn_user" th:href="@{/admin/reservas}">Reservas</a>
                    <a class="nav_btn_user" th:href="@{/admin/pedidos}">Pedidos</a>
                </div>
                <div class="nav_cont_r">
                    <a class="nav_btn_login" th:href="@{/admin/reseñas}">Reseñas</a>
                    <form class="form_logout" th:action="@{/admin/logout}" method="post">
                        <input class="nav_btn_login botonForm" type="submit" value="Cerrar Sesión">
                    </form>
                </div>
                <div class="menu"></div>
            </div>

        </nav>
        <div class="desp">
            <a class="nav_btn_user2 uno" th:href="@{/admin/home}">Productos</a>
            <a class="nav_btn_user2 dos" th:href="@{/admin/reservas}">Reservas</a>
            <a class="nav_btn_user2 tres" th:href="@{/admin/pedidos}">Pedidos</a>
            <a class="nav_btn_user2 cuatro" th:href="@{/admin/reseñas}">Reseñas</a>
            <form class="form_logout" th:action="@{/user/logout}" method="post">
                  <input class="nav_btn_user2 cinco" type="submit" value="Cerrar Sesión">
        </form>
        </div>
        <main class="main">
            <div class="main_cont">
                <h1 class="tituloTable">Gestor de Productos</h1>
                <a id="btn_anadirProducto" th:href="@{/admin/producto/nuevo}">Añadir Producto</a>
                <table class="table">
                    <tbody id="tbody">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Precio Unitario</th>
                            <th>Tipo</th>
                            <th colspan="2">Acción</th>
                        </tr>
                        <tr th:each="producto : ${listaProductos}">
                            <td th:text="${producto.id}"></td>
                            <td th:text="${producto.nombre}"></td>
                            <td th:text="'$' + ${producto.precio}"></td>
                            <td th:text="${producto.tipo}"></td>
                            <td><a id="btnEditar" th:href="@{'/admin/producto/editar/' + ${producto.id}}"><div class="editar"></div></a></td>
                            <td><a  id="btnEliminar" th:onclick="eliminar([[${producto.id}]])" ><div class="eliminar"></div></a></div></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/app2.js}"></script>         
        <script th:src="@{/js/alertEliminarProductos.js}"></script>  

        </script>
    </body>

</html>
