<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilosAdmin.css}">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/paginacion.css}" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Fogatta - Productos</title>
    </head>

    <body>
        <nav class="nav">
            <div class="nav_cont" id="nav2">
                <div class="nav_cont_l">
                    <a th:href="@{/}" class="nav_logo"></a>
                </div>
                <div class="nav_cont_m">
                    <a class="nav_btn_user" th:href="@{/admin/home}">Productos</a>
                    <a class="nav_btn_user" th:href="@{/admin/reservas}">Reservas</a>
                    <a class="nav_btn_user" th:href="@{/admin/pedidos}">Pedidos</a>
                </div>
                <div class="nav_cont_r">
                    <a class="nav_btn_login" th:href="@{/admin/resenias}">Reseñas</a>
                    <form class="form_logout" th:action="@{/admin/logout}" method="post">
                        <input class="nav_btn_login botonForm" type="submit" value="Cerrar Sesión">
                    </form>
                </div>
                <div class="menu"></div>
            </div>

        </nav>
        <div class="desp">
            <a class="nav_btn_user2 uno" th:href="@{/admin/home}">Productos</a>
            <a class="nav_btn_user2 dos" th:href="@{/admin/reservas}">Reservas</a>
            <a class="nav_btn_user2 tres" th:href="@{/admin/pedidos}">Pedidos</a>
            <a class="nav_btn_user2 cuatro" th:href="@{/admin/resenias}">Reseñas</a>
            <form class="form_logout" th:action="@{/user/logout}" method="post">
                  <input class="nav_btn_user2 cinco" type="submit" value="Cerrar Sesión">
        </form>
        </div>
        <main class="main">
            <div class="main_cont">
                <h1 class="tituloTable">Gestor de Productos</h1>
                <table class="table">
                    <tbody id="tbody">
                        <tr>
                            <th><a th:href="@{'/admin/producto/page/' + ${paginaActual} + '?sortField=id&sortDir=' + ${reverseSortDir}}">#</a></th>
                            <th><a th:href="@{'/admin/producto/page/' + ${paginaActual} + '?sortField=nombre&sortDir=' + ${reverseSortDir}}">Nombre</a></th>
                            <th><a th:href="@{'/admin/producto/page/' + ${paginaActual} + '?sortField=precio&sortDir=' + ${reverseSortDir}}">Precio Unitario</a></th>
                            <th><a th:href="@{'/admin/producto/page/' + ${paginaActual} + '?sortField=tipo&sortDir=' + ${reverseSortDir}}">Tipo</a></th>
                            <th colspan="2">Acción</th>
                        </tr>
                        <tr th:each="producto : ${listProducts}">
                            <td th:text="${producto.id}"></td>
                            <td th:text="${producto.nombre}"></td>
                            <td th:text="'$' + ${producto.precio}"></td>
                            <td th:text="${producto.tipo}"></td>
                            <td><a id="btnEditar" th:href="@{'/admin/producto/editar/' + ${producto.id}}"><div class="editar"></div></a></td>
                            <td><a  id="btnEliminar" th:onclick="eliminar([[${producto.id}]])" ><div class="eliminar"></div></a></div></td>
                        </tr>
                    </tbody>
                </table> 
                            <a id="btn_anadirProducto" th:href="@{/admin/producto/nuevo}">Añadir Producto</a>

            </div>
            <div>&nbsp;</div>
            <div id="paginacion">

    
                <a class="first" th:if="${paginaActual > 1}" th:href="@{'/admin/producto/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Primero</a>
                <span class="first" th:unless="${paginaActual > 1}">Primero</span>
                &nbsp;&nbsp;
                
                <a  class="prev" th:if="${paginaActual > 1}" th:href="@{'/admin/producto/page/' + ${paginaActual - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Anterior</a>
                <span class="prev" th:unless="${paginaActual > 1}">Anterior</span>
                &nbsp;&nbsp;

                <span id="s_numero" th:if="${totalItems == 0}">
                    <span class="numero now">[[${0}]]</span>
                </span>
                &nbsp;&nbsp;

                <span id="s_numero" th:unless="${totalItems == 0}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="numero" th:if="${i != paginaActual}" th:href="@{'/admin/producto/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    <span class="numero now" th:unless="${i != paginaActual}">[[${i}]]</span>
                    &nbsp;&nbsp;
                </span>
                
                <a class="next" th:if="${paginaActual < totalPages}" th:href="@{'/admin/producto/page/' + ${paginaActual + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Siguiente</a>
                <span class="next" th:unless="${paginaActual < totalPages}">Siguiente</span>
                &nbsp;&nbsp;
    
                <a class="last"th:if="${paginaActual < totalPages}" th:href="@{'/admin/producto/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Ultimo</a>
                <span class="last" th:unless="${paginaActual < totalPages}">Ultimo</span>
                &nbsp;&nbsp;

            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/app2.js}"></script>         
        <script th:src="@{/js/alertEliminarProductos.js}"></script>  

        </script>
    </body>

</html>
