<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/estilosAdmin.css}">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Fogatta - Reservas</title>
    </head>

    <body>
        <nav class="nav">
            <div class="nav_cont" id="nav2">
                <div class="nav_cont_l">
                    <a th:href="@{/}" class="nav_logo"></a>
                </div>
                <div class="nav_cont_m">
                    <a class="nav_btn_user" th:href="@{/admin/home}">Productos</a>
                    <a class="nav_btn_user" th:href="@{/admin/reservas}">Reservas</a>
                    <a class="nav_btn_user" th:href="@{/admin/pedidos}">Pedidos</a>
                </div>
                <div class="nav_cont_r">
                    <a class="nav_btn_login" th:href="@{/admin/reseñas}">Reseñas</a>
                    <form class="form_logout" th:action="@{/admin/logout}" method="post">
                        <input class="nav_btn_login botonForm" type="submit" value="Cerrar Sesión">
                    </form>
                </div>
                <div class="menu"></div>
            </div>

        </nav>
        <div class="desp">
            <a class="nav_btn_user2 uno" th:href="@{/admin/home}">Productos</a>
            <a class="nav_btn_user2 dos" th:href="@{/admin/reservas}">Reservas</a>
            <a class="nav_btn_user2 tres" th:href="@{/admin/pedidos}">Pedidos</a>
            <a class="nav_btn_user2 cuatro" th:href="@{/admin/reseñas}">Reseñas</a>
            <form class="form_logout" th:action="@{/admin/logout}" method="post">
                <input class="nav_btn_login botonForm" type="submit" value="Cerrar Sesión">
            </form>
        </div>
        <main class="main">
            <div class="main_cont">
                <h1 class="tituloTable">Gestor de Reservas</h1>
                <table class="table">
                    <tbody id="tbody">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th>Fecha</th>
                            <th colspan="2">Acción</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Samuel Boada</td>
                            <td>Activo</td>
                            <td>16/10/22</td>
                            <td><a href="#"><div class="editar"></div></a></td>
                            <td><a href="#"><div class="eliminar"></div></a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jaider Oliveros</td>
                            <td>En espera</td>
                            <td>17/10/22</td>
                            <td><a href="#"><div class="editar"></div></a></td>
                            <td><a href="#"><div class="eliminar"></div></a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Miguel Cardenas</td>
                            <td>En espera</td>
                            <td>25/12/22</td>
                            <td><a href="#"><div class="editar"></div></a></td>
                            <td><a href="#"><div class="eliminar"></div></a></td>
                        </tr>
                    </tbody>
                </table> 
            </div>
        </main>
        <script th:src="@{/js/pruebaReservas.js}"> 
        </script>
    </body>

</html>
