<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cartaCliente.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Carta-Fogatta</title>
  </head>

  <body>
    <nav class="nav">
      <div class="nav_cont" id="nav2">
        <div class="nav_cont_l">
          <a th:href="@{/}" class="nav_logo"></a>
        </div>
        <div class="nav_cont_m">
                <a class="nav_btn_user" th:href="@{/user/home}">Carta</a>
                <a class="nav_btn_user" th:href="@{/user/reservas}">Reservas</a>
                <a class="nav_btn_user" th:href="@{/user/pedidos}">Pedidos</a>
            </div>
            <div class="nav_cont_r">
                <a class="nav_btn_login" th:href="@{/user/reseñas}">Reseñas</a>
                <form class="form_logout" th:action="@{/user/logout}" method="post">
                  <input class="button_logout" type="submit" value="Cerrar Sesión">
                </form>
            </div>
        <div class="menu"></div>
      </div>
    </nav>
    <div class="desp">
      <a class="nav_btn_user2 uno" th:href="@{/user/home}">Carta</a>
        <a class="nav_btn_user2 dos" th:href="@{/user/reservas}">Reservas</a>
        <a class="nav_btn_user2 tres" th:href="@{/user/pedidos}">Pedidos</a>
        <a class="nav_btn_user2 cuatro" th:href="@{/user/reseñas}">Reseñas</a>
        <a class="nav_btn_user2 cinco" th:href="@{/}">Cerrar Sesión</a>
    </div>
    <main class="main">
      <div class="main_cont">
        <div class="cont_platos">
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
        </div>
        <div class="botones">
            <button class="anterior"></button>
            <button class="siguiente"></button>
        </div>
      </div>
    </main>
    <script th:src="@{/js/app2.js}"></script>
  </body>
</html>
