<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cartaCliente.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>

  <body>
    <nav class="nav">
      <div class="nav_cont" id="nav2">
        <div class="nav_cont_l">
          <a href="index.html" class="nav_logo"></a>
        </div>
        <div class="nav_cont_m">
          <a class="nav_btn_user" href="#seccion_a">Carta</a>
          <a class="nav_btn_user" href="#seccion_b">Reservas</a>
          <a class="nav_btn_user" href="#seccion_c">Pedidos</a>
        </div>
        <div class="nav_cont_r">
          <a class="nav_btn_login" href="loginCliente.html">Reseñas</a>
          <a class="nav_btn_reg" th:href="@{/user/logout}">Cerrar Sesión</a>
        </div>
        <div class="menu"></div>
      </div>
    </nav>
    <div class="desp">
      <a class="nav_btn_user2 uno" href="#seccion_a">Carta</a>
      <a class="nav_btn_user2 dos" href="#seccion_b">Reservas</a>
      <a class="nav_btn_user2 tres" href="#seccion_c">Pedidos</a>
      <a class="nav_btn_user2 cuatro" href="loginCliente.html">Reseñas</a>
      <a class="nav_btn_user2 cinco" href="registroCliente.html"
        >Cerrar Sesión</a
      >
    </div>
    <main class="main">
      <div class="main_cont">
        <div class="cont_platos">
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
          <div class="plato">
            <div class="plato_image"></div>
            <div class="plato_text">
              <p class="plato_title">Lorem, ipsum.</p>
              <p class="plato_info">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo amet nulla optio fuga? Culpa modi eius veritatis
                corporis, maxime molestiae. Fugit nemo beatae deleniti
                reprehenderit fuga quod quia excepturi! Doloremque!
              </p>
            </div>
          </div>
        </div>
        <div class="botones">
            <button class="anterior"></button>
            <button class="siguiente"></button>
        </div>
      </div>
    </main>
    <script th:src="@{/js/app.js}"></script>
  </body>
</html>
