<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cartaCliente.css}" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Fogatta - Pedidos</title>
  </head>

  <body>
    <nav class="nav">
        <div class="nav_cont" id="nav2">
        <div class="nav_cont_l">
          <a th:href="@{/}" class="nav_logo"></a>
        </div>
        <div class="nav_cont_m">
                <a class="nav_btn_user" th:href="@{/user/home}">Carta</a>
                <a class="nav_btn_user" th:href="@{/user/reservas}">Reservas</a>
                <a class="nav_btn_user" th:href="@{/user/pedidos}">Pedidos</a>
            </div>
            <div class="nav_cont_r">
                <a class="nav_btn_login" th:href="@{/user/resenias}">Reseñas</a>
                <form class="form_logout" th:action="@{/user/logout}" method="post">
                  <input class="nav_btn_login botonForm" type="submit" value="Cerrar Sesión">
                </form>
            </div>
        <div class="menu"></div>
      </div>
    </nav>
    <div class="desp">
        <a class="nav_btn_user2 uno" th:href="@{/user/home}">Carta</a>
        <a class="nav_btn_user2 dos" th:href="@{/user/reservas}">Reservas</a>
        <a class="nav_btn_user2 tres" th:href="@{/user/pedidos}">Pedidos</a>
        <a class="nav_btn_user2 cuatro" th:href="@{/user/resenias}">Reseñas</a>
        <form class="form_logout" th:action="@{/user/logout}" method="post">
                  <input class="nav_btn_user2 cinco" type="submit" value="Cerrar Sesión">
        </form>
    </div>
    <main class="main">
        <div class="main_cont">
            
            <h1 class="tituloTable">Tus Pedidos</h1>
            <table class="table">
                <tbody id="tbody">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Producto/s</th>
                        <th>Dirección</th>
                        <th>Fecha-pedido</th>
                    </tr>
                    <tr th:each="pedido : ${listaPedidos}">
                      <td th:text="${pedido.id}"></td>
                      <td th:text="${pedido.usuario.nombre}"></td>
                      <td th:text="${pedido.estado}"></td>
                      <td >
                        
                        <ul th:each="pp : ${pedido.productos}">
                            <li th:text="${pp}"></li>
                        </ul>
                        <p th:text="'Cantidad = '+${pedido.cantidad}" style="font-weight: bold;" ></p>
                      </td>
                      <td th:text="${pedido.direccion}"></td>
                      <td >
                        <p th:text="${#temporals.format(pedido.fecha_pedido, 'dd/MM/YYYY hh:mm a')}"></p>
                        <p th:text="'Precio Total = '+${pedido.precioTotal}" style="font-weight: bold;" ></p>
                      </td>
                    </tr>
                </tbody>
            </table>
            <a id="btnFormPedido" th:href="@{/user/realizar-pedidos}">Realizar Pedido</a>
        </div>
    </main>
    
    <script th:src="@{/js/app2.js}"></script>
  </body>
</html>
