<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/cartaCliente.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>

<body>
    <nav class="nav">
        <div class="nav_cont" id="nav2">
            <div class="nav_cont_l">
                <a href="index.html" class="nav_logo"></a>
            </div>
            <div class="nav_cont_m">
                <a class="nav_btn_user" th:href="@{/user/home}">Carta</a>
                <a class="nav_btn_user" th:href="@{/user/reservas}">Reservas</a>
                <a class="nav_btn_user" th:href="@{/user/pedidos}">Pedidos</a>
            </div>
            <div class="nav_cont_r">
                <a class="nav_btn_login" th:href="@{/user/reseñas}">Reseñas</a>
                <a class="nav_btn_reg" th:href="@{/}">Cerrar Sesión</a>
            </div>
            <div class="menu"></div>
        </div>

    </nav>
    <div class="desp">
        <a class="nav_btn_user2 uno" th:href="@{/user/home}">Carta</a>
        <a class="nav_btn_user2 dos" th:href="@{/user/reservas}">Reservas</a>
        <a class="nav_btn_user2 tres" th:href="@{/user/pedidos}">Pedidos</a>
        <a class="nav_btn_user2 cuatro" th:href="@{/user/reseñas}">Reseñas</a>
        <a class="nav_btn_user2 cinco" th:href="@{/}">Cerrar Sesión</a>
    </div>
    <main class="main">
        <div class="main_cont">
            <h1 class="tituloTable">Reseñas del Servicio</h1>
            <div class="reseñas" id="reseñas">
                <div class="individual_res">
                    <div class="res_up">
                        <div class="res_up_img"></div>
                        <div class="res_up_info">
                            <p class="res_nombre">Luis Ascencio</p>
                            <p class="res_fecha">15/10/22</p>
                            <p class="res_puntuacion">⭐⭐⭐⭐⭐</p>
                        </div>
                    </div>
                    <textarea class="res_text"name="" id="" cols="30" rows="10" disabled>En cuanto a la comida es excelente los platillos abundantes y de muy buen gusto, vale la pena poder visitar este lugar donde está lleno de ambiente y servicio de primera. En cuanto a la comida es excelente los platillos abundantes y de muy buen gusto, vale la pena poder visitar este lugar donde está lleno de ambiente y servicio de primera.</textarea>
                </div>
                <div class="individual_res">
                    <div class="res_up">
                        <div class="res_up_img"></div>
                        <div class="res_up_info">
                            <p class="res_nombre">Miguel Cardenas</p>
                            <p class="res_fecha">15/10/22</p>
                            <p class="res_puntuacion">⭐⭐⭐⭐</p>
                        </div>
                    </div>
                    <textarea class="res_text"name="" id="" cols="30" rows="10" disabled>Deliciosa comida en un gran ambiente.</textarea>
                </div>
                <div class="individual_res">
                    <div class="res_up">
                        <div class="res_up_img"></div>
                        <div class="res_up_info">
                            <p class="res_nombre">Samuel Boada</p>
                            <p class="res_fecha">15/10/22</p>
                            <p class="res_puntuacion">⭐⭐⭐⭐⭐</p>
                        </div>
                    </div>
                    <textarea class="res_text"name="" id="" cols="30" rows="10" disabled>En cuanto a la comida es excelente los platillos abundantes y de muy buen gusto, vale la pena poder visitar este lugar donde está lleno de ambiente y servicio de primera. En cuanto a la comida es excelente los platillos abundantes y de muy buen gusto, vale la pena poder visitar este lugar donde está lleno de ambiente y servicio de primera.</textarea>
                </div>
                <div class="individual_res">
                    <div class="res_up">
                        <div class="res_up_img"></div>
                        <div class="res_up_info">
                            <p class="res_nombre">Jaider Oliveros</p>
                            <p class="res_fecha">15/10/22</p>
                            <p class="res_puntuacion">⭐⭐</p>
                        </div>
                    </div>
                    <textarea class="res_text"name="" id="" cols="30" rows="10" disabled>Delicioso, pero me gasté el sueldo.</textarea>
                </div>
            </div>
            
           
        </div>
    </main>
    <script th:src="@{/js/app2.js}"></script>
    </script>
</body>

</html>
