@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Comfortaa';
    box-sizing: border-box;
    
}

.nav{
    width: 100%;
    height: 200px;
    background-color: black;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(45deg, rgba(0,0,0,0.45675770308123254) 0%, rgba(0,0,0,0.7) 100%),url(../img/header.jpg); 

}

.nav_cont{
    display: flex;
    align-items: center;
    height: 200px;    
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

.nav_cont_l{
    display: flex;
    align-items: center;
    width: 250px;
    margin-left:25px
}

.nav_logo{
    width: 180px;
    height: 50px;
    background-image: url(../img/logotrans.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.nav_text{
    color: white;
    font-family: 'Comfortaa';
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.nav_cont_m{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-grow:1;
}

.nav_cont_r{
    display: flex;
    align-items: center;
    width: 250px;
    margin-right:25px;
}

.nav_btn_admin{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 125px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.nav_btn_user,.nav_btn_login, .nav_btn_reg{
    text-decoration: none;
    display: flex;
    color: white;
    text-align: center;
    padding: 10px;
    width: 125px;
    font-size: 20px;
    cursor: pointer;
}

.nav_btn_user:hover, .nav_btn_login:hover, .nav_btn_reg:hover{
    text-decoration: none;
    color: white;
}

.botonForm{
    width: 200px;
    border: none;
    background-color: transparent;
}
.nav_btn_user2{
    display: none;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    width: 80vw;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    padding: 20px 0 20px 0;
    text-align: center;
    justify-content: center;
    margin: 0 calc(80vw - 75vw) 25px calc(80vw - 72vw);
    cursor:pointer;
    
}
.nav_btn_user2:hover{
    text-decoration: none;
    color:white;
    
}

.nav_btn_user2[type=submit]{
    background-color: transparent;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    width: 80vw;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    padding: 20px 0 20px 0;
    text-align: center;
    justify-content: center;
    margin: 0 calc(80vw - 75vw) 25px calc(80vw - 72vw);
    cursor:pointer;
    
}
.tituloTable{
    margin:50px 0;
    font-size: 30px;
    text-align: center;
}


.main_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}
.cont_platos{
    
}

.cont_grid{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(3,1fr);
    margin:25px 0;
    gap:20px;
}
.plato{
    width:400px;
    height:fit-content;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.plato_image{
    
    width:380px;
    height: 320px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.plato_text{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    justify-content: center;
    /*gap: 15px;*/
}

.plato_title{
    font-size: 20px;
    font-weight: bold;
    margin-top:20px;
}
/*Tabla*/
.tituloTable{
    margin:50px 0;
    font-size: 30px;
    text-align: center;
}

.table{
    margin-bottom: 30px;
}
.table,td,th{
    border-collapse: collapse;
    height: 7rem;
    text-align: center;
}
th,td{
    width: 18rem;
}
th{
    color: white;
    background-color: rgba(0,0,0,1);
    font-size: 20px;
}
tr:nth-child(even){
     background-color: #f2f2f2;
}


button{
    width: inherit;
    height: inherit;
}
 
/*Reserva*/
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
   }

   
.form_info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}



.form_info input, select{
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
    min-width: 20px;
  }

 .btnPedido[type=submit], .btnReserva[type=submit] {
    margin-top: 15px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
    min-width: 20px;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #eee ;
    margin-bottom: 20px;
  }
  
  .btnPedido:hover, .btnReserva:hover{
      background-color: black;
      color: white;
  }


/*Reseñas*/
.reseñas{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 15px;
}
.individual_res{
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 25px;
    
}

.res_up{
    display: flex;
    gap: 20px;
    padding: 0 5px;
}

.res_nombre{
    font-weight: bold;
    font-size: 20px;
}

.res_text{
    resize: none;
    text-align: justify ;
    padding: 0px 5px;
    background-color: white;
    text-transform: initial;
}


.res_text::-webkit-scrollbar{
    background: rgba(255, 255, 255, 1);
    width: 4px;
 }

.res_text::-webkit-scrollbar-thumb{
     background: rgba(225, 225, 225, 1);
     width: 2px;
     height: 2px;
     border-radius: 5px;

 }

.res_up_img{
    background-image: url(../img/picprofile.svg);
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.desp{
    display: none;
}

#btnFormPedido, #btnFormReserva{
    background-color: black;
    color:white;
    margin: 5px 0 20px 0;
    border-radius: 5px;
    padding: 8px;
    width: 50%;
    min-width: 360px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

#btnFormPedido:hover , #btnFormReserva:hover{
          box-shadow: 2px 5px 7px -3px rgba(0,0,0,0.7),0px 10px 15px -3px rgba(0,0,0,0.1);

  }


#categorias{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between
      
}

/*Finaliza sección Header*/

/*Formulario de Reservas*/

.reservas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.inputReserva, select.optionReserva{
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
    width: 40vw;
    height: 40px;

}

.inputReserva[type=submit]{
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
    min-width: 20px;
    cursor: pointer;
    background-color: #eee ;
    transition:0.5s background-color;
}

.inputReserva[type=submit]:hover{
    background-color: black;
    color: white;
}

.inputReserva[type=number]::-webkit-inner-spin-button,
.inputReserva[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/*Mensaje Reservas Error*/

.containermsg{
    background-color: #f8d7da;
    padding:1rem;
    border:1px solid #f5c2c7;
    color:#842029;
    width: 40vw;
    border-radius: 5px;
    margin-bottom: 15px
}


/* Pedidos */

.contador{
    margin-top: 15px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

#mas, #menos{
    width: 2rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#numeroProducto{
    border: 1px solid black;
    border-radius: 5px;
    width: 3rem;
    text-align: center;
}

#precio2{
    outline: none;
    width: 4.5rem;
    border: 0;
}

#precioTotal{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

#inputDireccion{
    width: 100%;
    border: 1px black solid;
    border-radius: 5px;
    padding: 8px;
    min-width: 20px;
    margin-top: 15px;
    height: 40px;
}

#comida, #bebida{
    width: 100%;
    height: 40px;
}

.producto_select{
    display: flex; 
    flex-direction: column;
}

#parrafoTotal{
    margin-bottom: 0;
}

.gris{
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: #e2e3e5;
    color: #41464b;
    text-align: center;
    border: 1px solid #d3d6d8;
}


#numeroProducto[type=number]::-webkit-inner-spin-button,
#numeroProducto[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

#labelDireccion{
    display: none;
}

/*Media */
@media screen and (max-width:1250px){
    .cont_grid, .reseñas{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:834px){
    .cont_grid, .reseñas{
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width:402px){
    .form_info{
        display: flex;
        flex-direction: column;
    }

    #labelDireccion{
        margin-top: 15px;
        display: block;
    }

    #inputDireccion{
        margin-top: 0;
    }

    #precioTotal{
        flex-direction: column;
        align-items: center;
    }

    .plato{
        width: 200px;
        height: 400px;
    }

    .plato_image{
        width: 180px;
        height: 250px;
    }

    
}

@media screen and (max-width:502px){
   .last, .first{
    display: none;
   }
    
}

@media screen and (max-width:550px){
    th{
     font-size: 12px;
   }

   td{
    font-size: 10px;
   }

   .tituloTable{
    font-size: 25px;
   }
    
}


@media screen and (max-width:955px) {
    .nav_cont{
        display: flex;
        flex-direction: column;
    }
    .menu{
        background-image: url("../img/menu_icon.png");
        position:absolute;
        background-size: contain;
        width: 50px;
        height: 50px;
        top: 155px;
        left: 0;
        cursor:pointer;
    }

    .desp{
        display: block;
        background-color: rgba(0, 0, 0, 1);
        width: 0;
        height: 0;
        position: fixed;
        transition: all 0.1s;
        }

    .mostrar{
        width: 100vw;
        height: 500px;
    }
    .nav_btn_user, .nav_btn_login, .nav_btn_reg{
        display: none;
    }
    

    .mostrar2{
        display: flex;
    }

    .nav_cont_l{
        display: flex;
        /* text-align: center; */
        justify-content: center;
        width: 100vw;
        height: 200px;
        margin: 0;
        
    }
}




