@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Comfortaa';
    box-sizing: border-box;
    scroll-padding-top: 50px;
}

.nav{
    width: 100%;
    height: 200px;
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:linear-gradient(45deg, rgba(0,0,0,0.45675770308123254) 0%, rgba(0,0,0,0.7) 100%),url(../img/header.jpg); 

}

.nav_cont{
    display: flex;
    align-items: center;
    height: 200px;    
    width: 100%;
    justify-content: space-between;
    position: fixed;
}

.nav_cont_l{
    display: flex;
    align-items: center;
    width: 250px;
    margin-left:25px
}

.nav_logo{
    width: 180px;
    height: 50px;
    background-image: url(../img/logotrans.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.nav_text{
    color: white;
    font-family: 'Comfortaa';
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

.nav_cont_m{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-grow:1;
}

.nav_cont_r{
    display: flex;
    align-items: center;
    width: 250px;
    margin-right:25px;
}

.nav_btn_admin{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 125px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

.nav_btn_user,.nav_btn_login, .nav_btn_reg{
    text-decoration: none;
    display: flex;
    color: white;
    text-align: center;
    padding: 10px;
    width: 125px;
    font-size: 20px;
}
/*Finaliza sección Header*/
/*Comienza sección Main*/

.seccion{
    /* width: 100%; */
    /* height: 100%; */
    /* height:1100px; */

}

.a{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a_cont{
    display: flex;
    align-items: center;
    height: 100vh;
}

.a_info{
    width: 57vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    border-left: solid 3px brown;
    padding-left: 55px;
    height: 60vh;
}
.a_image{
    background-image: url(../img/secciona.jpg);
    width: 26vw;
    height: 72vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 55px 0 0;
}
.a_title{
    font-size: 40px;
}

.a_text{
    font-size: 17px;
    line-height:50px;
    text-align:justify;
}

.b{
    color: white;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.45675770308123254) 0%, rgba(0,0,0,0.7) 100%),url(../img/seccionb.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.b_info{
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 50px;
}

.b_title{
    font-size: 40px;
}

.b_text{
    width: 100%;
}
.respon{
    width: 384px;
}

.cartas{
    width: 100%;
}

.p-6{
    width:100%;
}
.imagen1{
    width: 384px;
    height: 288px;
    background-image: url(../img/coctel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen2{
    width: 384px;
    height: 288px;
    background-image: url(../img/almuerzo.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imagen3{
    width: 384px;
    height: 288px;
    background-image: url(../img/cena.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.c{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.c_cont{
    display: flex;
    align-items: center;
}

.c_info{
    width: 57vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    border-right: solid 3px #f09a00;
    padding: 0 55px 0 0;
    height: 60vh;
}
.c_image{
    background-image: url(../img/seccionc.jpg);
    width: 26vw;
    height: 72vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 0 0 50px;
}
.c_title{
    font-size: 40px;
}



.c_form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    margin-bottom: 8px;
    font-size: 20px;
}

form > textarea{
    border:3px solid rgba(0, 0, 0, 0.5);
    height: 100px;
    resize: none;
    padding: 5px;
}
input[type=text], input[type=email]{
    border: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    
}
input[type=text], input[type=email], textarea, .c_title{
    margin-bottom: 25px;
}

input[type=text], input[type=email], textarea, input[type=submit]{
    padding:10px;
    outline:none;
    font-size: 17px;
}

input[type=submit]{
    color: black;
    background-color: #eee;
    border-radius: 5px;
    margin-top: 10px;
    cursor:pointer;
    border: 1px solid black;
    transition: all 0.5s;
}

input[type=submit]:hover{
    color:white;
    background-color: black;
    
}
.nav_btn_user2{
    display: none;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    width: 80vw;
    font-size: 20px;
    border: 0;
    border-bottom: 2px solid white;
    padding: 20px 0 20px 0;
    text-align: center;
    justify-content: center;
    margin: 0 calc(80vw - 75vw) 25px calc(80vw - 72vw);
    
}
.desp{
    display: none;
}
/*Media */
@media screen and (max-width:1207px){
    .cartas{
        flex-direction: column;
        gap: 25px;
        width: 800px;
    }

    .flex{
        height: 300px;
        display: flex;
        height: 170px;
    }

    .imagen1, .imagen2, .imagen3{
        height: 170px;
    }

    .b_title{
        margin-top: 50px;
    }
    .respon{
        display: flex;
        width: 800px;
    }

    .b_text{
        width: 800px;
        margin-top: 160px;
        height: 800px;
    }

    .p-6{
        width: 100%;
    }

}
@media screen and (max-width:955px) {
    .nav_cont{
        display: flex;
        flex-direction: column;
    }
    .menu{
        background-image: url("https://i.postimg.cc/PJNSWMj4/menu-icon.png");
        position:absolute;
        background-size: contain;
        width: 50px;
        height: 50px;
        top: 155px;
        left: 0;
        cursor:pointer;
    }

    .desp{
        display: block;
        background-color: rgba(0, 0, 0, 1);
        width: 0;
        height: 0;
        position: fixed;
        transition: all 0.1s;
        }

    .mostrar{
        width: 100vw;
        height: 500px;
    }
    .nav_btn_user, .nav_btn_login, .nav_btn_reg{
        display: none;
    }
    

    .mostrar2{
        display: flex;
    }

    .nav_cont_l{
        display: flex;
        /* text-align: center; */
        justify-content: center;
        width: 100vw;
        height: 200px;
        margin: 0;
        
    }
}



@media screen and (max-width:825px){
    
    .a_text {
        line-height: 25px;
    }

    .imagen1, .imagen2, .imagen3{
        display: none;
    }

    .b_text{
        width: 90%;
        height: 400px;
    }


}

@media screen and (max-width:715px){

    .c_image{
        display: none;
    }

    .a_image{
        display: none;
    }

    .a_info{
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        border-left: 0;
        padding: 0;
        height: 60vh;
    
    }

    .a_cont{
        justify-content: center;
    }

    .b_info{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        gap: 50px;
        
    }
    

    .c_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    border:0;
    padding:0;
    height: 60vh;
    }

    
}

@media screen and (max-width:506px){
    div > .p-6{
        padding: 11px;
    }
}

@media screen and (max-width:485px){
    .a_title, .b_title, .c_title {
        font-size: 30px;
    }
}

@media screen and (max-width:427px){
    .a_title, .b_title, .c_title {
        font-size: 30px;
    }

    /* .cartas{
        gap:10px;
    } */

    /* .b_info{
        gap: 20px;
    } */

    .flex{
        height: 189px;
    }
}

@media screen and (max-height:668px){
    
    .cartas{
        gap:10px;
    }

    .b_info{
        gap: 20px;
    }
}