@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Comfortaa';
    box-sizing: border-box;
}

body{
    background-image: url(https://i.postimg.cc/x1dtZ70p/p1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}   

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    width: 470px;
    height: 720px;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 0px rgb(0, 0, 0, 0.4);

}

.formAdmin{
    height: 620px;
}

.logo{
    margin-bottom: 10px;
    width: 180px;
    height: 50px;
    background-image: url(https://i.postimg.cc/HsqWcYDJ/logotransblack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



input[type=number]
{
-webkit-appearance: none;
-moz-appearance:textfield;
}

input{
    width:350px;
    padding: 10px;
    margin: 15px 0 15px 0;
    border-radius: 15px;
    outline: none;
    border: 1px solid black;
       
}


input[type=submit]{
    margin: 10px 0 10px 0;
    cursor: pointer;
}


.contFecha{
    width:350px;
    display:flex;
    align-items:center;
}

input[type=date]{
    text-align:center;
}

/* Form Validation */

.formulario__grupo-input {
	position: relative;
}

.formulario__input{
    transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 10px;
	margin-bottom: 0;
    text-align: center;
    color: #bb2929;
	display: none;
}

.formulario__input-error-total {
	font-size: 10px;
	margin-bottom: 0;
    color: #bb2929;
    text-align: center;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 24px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

/*Media */

@media screen and (max-width:955px) {
    .nav_cont{
        display: flex;
        flex-direction: column;
    }
    .menu{
        background-image: url(https://i.postimg.cc/sDNLXh65/Menu-icon-icon-icons-com-71858.png);
        position:absolute;
        background-size: contain;
        width: 50px;
        height: 50px;
        top: 155px;
        left: 0;
    }

    .desp{
        background-color: rgba(0, 0, 0, 1);
        width: 0;
        height: 0;
        position: fixed;
        transition: all 0.1s;
        }

    .mostrar{
        width: 100vw;
        height: 450px;
    }
    .nav_btn_user, .nav_btn_login, .nav_btn_reg{
        display: none;
    }
    

    .mostrar2{
        display: flex;
    }

    .nav_cont_l{
        display: flex;
        /* text-align: center; */
        justify-content: center;
        width: 100vw;
        height: 200px;
        margin: 0;
        
    }
}


