.formulario__grupo-input {
	position: relative;
}

.formulario__input{
    transition: .3s ease all;
    margin-bottom: 20px;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 13px;
	margin-bottom: 15px;
    text-align: center;
    color: #bb2929;
	display: none;
}

.formulario__input-error-total {
	font-size: 10px;
	margin-bottom: 0;
    color: #bb2929;
    text-align: center;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 12px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}