<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/estilosOtrasPaginas.css}">
    <title>Fogatta - Registro Completado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

    <nav class="nav">
        <div class="nav_cont" id="nav2">
            <div class="nav_cont_l">
                <a th:href="@{/}" class="nav_logo"></a>
            </div>
        </div>

    </nav>
    <div id="tamaño" class="container mt-4">

        
            <h2 class="titulo">[[${title}]]</h2>
        <div  class="alert alert-secondary mt-4">
            <p>[[${message}]]</p>
            <hr>
            <a id="gris" class="btn btn-dark" th:href="@{/user/login}">Volver al inicio</a>
        </div>

    </div>


</body>
</html>