<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Succeded</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

    <br>

    <div class="text-center">
        <div>
            <h2>Recuperar contraseña</h2>
        </div>

        <div th:if="${error != null}">
            <p class="text-danger">[[${error}]]</p>
        </div>
        <div th:if="${message != null}">
            <p class="text-warning">[[${message}]]</p>
        </div>
    </div>

    <br>

    <form th:action="@{/forgot_password}" method="post" style="max-width: 350px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">

            <div>
                <p>Te enviaremos un link para cambiar la contraseña a tu email</p>
            </div>

            <div>
                <p>
                    <input type="email" name="email" class="form-control" placeholder="Ingresa tu e-mail" required>
                </p>

                <p class="text-center">
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </p>
            </div>
        </div>
    </form>

</body>
</html>